/* BODY / P / LINKS & TITLES*/

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
    font-size: 45px;
}

aside h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #FFCA28;
    border: 6px solid #FFCA28;
}

main h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 4px solid #FFCA28;
    padding-bottom: 5px;
    font-size: 30px;
}

main h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;  
}

a{
    color: #FFCA28;
}

figure{
    margin-left: 0;
}

a:hover{
    color: blue;
    font-style: italic;
}

.fa-pencil-alt, .fa-suitcase, .fa-graduation-cap{
    color:#FFCA28 ;
}

.fa-arrow-alt-circle-right{
    color: #FFCA28;
}

.far{
    color: #757575;
}

/*DISPLAY / HEADER / ASIDE & PHOTO*/

.corps_cv{
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-areas: 
    "photo header" 
    "aside article";
    grid-column-gap: 80px;
}

#photo_arrondi{
    height: 180px;
    margin: 65px 0 45px 0;
    border: 5px solid #FFCA28;
    overflow: hidden;
    border-radius: 50%;
}

.photo{
    grid-area: photo;
    display: flex;
    justify-content: center;
    background-color: #757575;

}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background-color: #757575;
    width: auto;
    height: 100%;
}

#contact, #a_propos, #loisirs{
    color: white;  
}

#a_propos{
    flex: 2;
}

#details p {
    padding: 20px;
    text-align: justify;
}

#details_moi{
    text-align: justify;
    padding: 20px;
}

#loisirs_moi{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header{
    grid-area: header;
    text-align: left;
}

#Prenom{
    color: #FFCA28;
}

#devel{
    border-bottom: 3px solid #FFCA28;
}

#position{
    font-size: 25px;
    margin-top: -20px;
}

.fa-html5{
    color:rgb(210,88,54);
}

.fa-css3-alt{
    color:rgb(33, 98, 175);
}

.fa-js-square{
    color: rgb(245, 222, 25);
}

.fa-bootstrap{
    color: rgb(86, 61, 124);
}

.fa-basketball-ball{
    color: orange;
}

.fa-globe-americas{
    color: #29B6F6;
}

/* MAIN PART CORRESPONDING TO : EDUCATION / WORK EXPERIENCE & REFERENCES*/

article{
    grid-area: article;
    margin-left: 20px;
    margin-right: 40px;
}

.block1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 2%;
}

.fleche{
    display: flex;
}

.city{
    margin-left: 60px;
    margin-top: -40px;
}

.right{
    margin-top:-25px;
    text-align: justify;
}

.block2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 2%;
}

.left, .job_left, .job_right{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.job_right{
    margin-top: -25px;
    text-align: justify;
}

.date_job{
    margin-left: 60px;
    margin-top: -40px;
}

.reco{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.underline {
    text-decoration: underline ;
}

/* MEDIA QUERY FOR RESPONSIVNESS OF WEBSITE */

@media screen and (max-width: 1024px){

.corps_cv{
    width: auto;
    display: flex;
    flex-direction: column;
}

header{
     background-color: #757575;
     margin-top: -50px;
     text-align: unset;
}

header p{
    padding: 20px;
}

h1{
    font-size: 35px;
    text-align: center;
    border-top: 40px solid #FFCA28;
    color: white;
    padding-top: 7%;

}

#Prenom{
    color: white;
}

#position{
    text-align: center;
    color: white;
}

#devel{
    border-bottom: 3px solid white;
}

figure{
    text-align: center;
    margin: unset;
}

h2{
    font-size: 25px;
}

aside{
    display: flex;
    flex-direction: column;
}

#details p{
    text-align: center;
}

.city{
    margin-left: 40px;
    margin-top: -38px;
    font-size: 16px;
}

.date_job{
    margin-left: 40px;  
    margin-top: -36px;  
    font-size: 16px;
}

.right{
    padding-top: 5%;
    padding-left: 9%;
    
}

.block1, .block2{
    display: flex;
    flex-direction: column; 
}

.left, .job_left, .job_right{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-left: 8%;
}

.job_right{
    padding-top: 5%;
    padding-left: 10%;
    text-align: justify;
}

.reco, .rec1, .rec2 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
}

@media screen and (max-width: 400px){
    .formation h2{
        font-size: 24px;
        text-align: center;
    }
    
    .experience h2{
        font-size: 24px;
        text-align: center;
    }

    .recommandations h2{
        font-size: 24px;
        text-align: center;
    }

    h3{
        font-size: 25px;
        text-align: center;
    }

    #devel{
        border-bottom: none;
    }
}
